@media screen and (max-width: 1024px) {
  .menu {
    display: flex;
    justify-content: space-around;
    width: 80%;
    z-index: 1;
  }

  .menu li {
    list-style: none;
  }

  .burger {
    display: none;
    cursor: pointer;
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color: #c1b35f;
    margin: 5px;
  }
  .menu {
    display: flex;
    z-index: 1;
  }
}
@media screen and (max-width: 828px) {
  body {
    overflow-x: hidden;
  }

  .menu {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 8vh;
    background-color: #e9e4cc;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .menu a {
    color: #c1b35f;
  }

  .menu li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
