body {
  background-color: #f0f0ee;
}

main {
  margin: 0 4rem 0 4rem;
}

/* Footer */

footer {
  /* background-color: #e9e4cc; */
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
}

.signup {
  font-family: Graphik Bold;
  font-size: 1.5rem;
  max-width: 400px;
}

.info_links {
  font-family: Graphik Regular;
  font-weight: normal;
}

.newsletter {
  border-radius: 16px;
  width: 200px;
  padding: 1rem;
  border: none;
  font-family: Graphik Regular;
  font-size: 1.1rem;
  overflow: hidden;
}

.sub_button {
  background-color: black;
  color: #f0f0ee;
  font-family: Graphik Regular;
  padding: 1.1rem 1.3rem 1.1rem 1.3rem;
  border-radius: 16px;
  display: inline;
  cursor: pointer;
}

.link_headline {
  margin-bottom: 1.4rem;
}

.copyright {
  margin-top: 8rem;
}

.media_links div div {
  margin-top: 2rem;
}

.media_links {
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.social_media {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social_media img {
  max-width: 50px;
}

/* Front page */

.banner {
  background-color: #e9e4cc;
  display: flex;
  justify-content: center;
}

.banner h1 {
  color: #c1b35f;
  font-family: Grifter;
  font-size: 3rem;
  text-align: center;
}

.banner h3 {
  color: #c1b35f;
  font-family: Poppins Extra Light;
  font-size: 1rem;
  text-align: center;
}

/* Menu */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 75px;
  padding-left: 2rem;
  padding-top: 2rem;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: right;
  margin: 2.5rem 4rem 0 4rem;
}

.menu a:hover {
  color: #dbd891;
}

nav ul li a {
  font-family: Grifter;
  text-decoration: none;
  color: #c1b35f;
  margin-left: 4rem;
}

/* Produktoversigt */

.content_container {
  display: flex;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.headline {
  display: flex;
  justify-content: right;
}

h1 {
  font-family: Grifter;
  color: #dbd891;
  font-size: 4rem;
}

.product_card {
  display: flex;
  flex-direction: column;
}

.drink_name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  font-size: medium;
}

.image_container {
  background-color: white;
  border-radius: 10%;
  order: -1;
  padding: 4rem 2rem 4rem 2rem;

  display: flex;
  justify-content: center;
}

.image_container img {
  max-width: 200px;
}

h2 {
  font-family: Grifter;
  color: #c1b35f;
  margin-top: -3.5rem;
  font-size: 2.2rem;
  pointer-events: none;
}

.tag_container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.hashtag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Grifter;
  color: #c1b35f;
  margin: 0 0.7rem 0 0.7rem;
  border: #dbd891 solid 2px;
  border-radius: 16px;
  width: 6rem;
}

.hashtag p {
  font-size: 0.8rem;
  padding: 0.5rem;
  margin: 0;
}

/* --------------------------KATEGORISIDEN---------------------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.category_headline {
  text-align: center;
  margin: 0;
  color: #c1b35f;
  font-size: 3.5rem;
}

.grid-item_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 4em;
  margin-top: 4%;
}

.button {
  background-color: #c1b35f;
  width: 50%;
  border-radius: 2em;
  align-self: center;
  padding-top: 5px;
  padding-left: 1px;
  padding: 2px;
  z-index: 2;
  margin-bottom: 60px;
  text-decoration: none;
  cursor: pointer;
}

.button_tekst {
  color: #e9e4cc;
  font-family: Grifter;
  font-size: large;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.06);
  transition: ease-in-out 0.3s;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex img {
  height: auto;
  align-self: center;
  margin-top: 25px;
  max-width: 300px;
}

.beige {
  background-color: #e9e4cc;
}

/* Submit page */

.submit_headline {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 80px;
}

.form_content {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 2.5rem;
}

.form_content div {
  font-family: Graphik;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.form_content div input {
  font-family: Graphik;
  padding: 0.8rem;
  border-radius: 16px;
  border: none;
  font-size: 1rem;
}

label {
  margin-bottom: 0.8rem;
}

.form {
  display: flex;
  justify-content: center;
}

.recipe_field {
  resize: none;
  border-radius: 16px;
  border: none;
  padding: 0.8rem;
  font-family: Graphik;
  font-size: 1rem;
}

input[type="range"] {
  cursor: pointer;
}

select {
  font-family: Graphik;
  padding: 0.8rem;
  border: none;
  border-radius: 16px;
  background-color: white;
  cursor: pointer;
  font-size: 1rem;
}

input[type="submit"] {
  cursor: pointer;
  background-color: #dbd891;
}

input[type="submit"]:hover {
  background-color: #ebe9af;
}

/* PRODUKTISIDEN */
.ingrediens {
  background-color: #e9e4cc;
  height: 600px;
  width: 550px;
  border-radius: 10%;
  margin-top: 10rem;
  margin-left: 10rem;
}

.grid-content {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.grid-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.article {
  display: flex;
  flex-direction: row;
}

.product_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 780px) {
  .product_content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .ingrediens {
    margin: 0;
  }

  .product_card {
    display: grid;
  }
}
